@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	width: 100%
}

main {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, p {
	height: fit-content;
	width: fit-content;
}